.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
}

.footer-social-links {
  display: flex;
  gap: 1rem;
  width: fit-content;

  li {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--secondary-color);
    cursor: pointer;
    transition: color 0.3s ease;
  }

  li:hover {
    color: color-mix(in oklch, var(--secondary-color), white 75%);
  }
}

.footer-copyright {
  color: var(--secondary-color);
}
