<footer class="mt-auto">
    <section>
        <a
          class="h-5 w-5 cursor-pointer text-slate10 hover:text-slate12 transition-all"
          href="{{ config.extra.mastodon }}"
          target="_blank"
          rel="noopener me"
          aria-label=Mastodon
        >
        Mastodon
        </a>
        <a
          class="h-5 w-5 cursor-pointer text-slate10 hover:text-slate12 transition-all"
          href="{{ config.extra.bluesky }}"
          target="_blank"
          rel="noopener me"
          aria-label=Mastodon
        >
        Bluesky
        </a>
        <a
          class="h-5 w-5 cursor-pointer text-slate10 hover:text-slate12 transition-all"
          href="{{ config.extra.itchio }}"
          target="_blank"
          rel="noopener me"
          aria-label=Itch.io
        >
        Itch.io
        </a>
        <a
          class="h-5 w-5 cursor-pointer text-slate10 hover:text-slate12 transition-all"
          href="{{ config.extra.instagram }}"
          target="_blank"
          rel="noopener me"
          aria-label=Instagram
        >
        Instagram
        </a>
        <a
          class="h-5 w-5 cursor-pointer text-slate10 hover:text-slate12 transition-all"
          href="{{ config.extra.github }}"
          target="_blank"
          rel="noopener me"
          aria-label=GitHub
        >
        GitHub
        </a>
        <a
          class="h-5 w-5 cursor-pointer text-slate10 hover:text-slate12 transition-all"
          href="{{ config.extra.artstation }}"
          target="_blank"
          rel="noopener me"
          aria-label=ArtStation
        >
        ArtStation
        </a>
        <a
          class="h-5 w-5 cursor-pointer text-slate10 hover:text-slate12 transition-all"
          href="{{ config.extra.linkedin }}"
          target="_blank"
          rel="noopener me"
          aria-label=LinkedIn
        >
        LinkedIn
        </a>
    </section>
    <div class="mt-4 flex items-center justify-between">
      <div class="text-slate8 text-sm">{{now() | date(format="%Y")}}</div>
    </div>
</footer>