<footer class="fullwidth-flex">
  <div class="content-container">
    <div class="footer-container">
      <div>
        <div class="footer-copyright">&copy; {{now() | date(format="%Y")}}</div>
      </div>
      <ul class="footer-social-links">
        <li>
          <a
            href="{{ config.extra.mastodon }}"
            target="_blank"
            rel="noopener me"
            aria-label="Mastodon"
          >
            {{ load_data(path="static/img/icons/mastodon.svg") | safe}}
          </a>
        </li>
        <li>
          <a
            href="{{ config.extra.bluesky }}"
            target="_blank"
            rel="noopener me"
            aria-label="Bluesky"
          >
            {{ load_data(path="static/img/icons/bluesky.svg") | safe}}
          </a>
        </li>
        <li>
          <a
            href="{{ config.extra.itchio }}"
            target="_blank"
            rel="noopener me"
            aria-label="Itch.io"
          >
            {{ load_data(path="static/img/icons/itchdotio.svg") | safe}}
          </a>
        </li>
        <li>
          <a
            href="{{ config.extra.instagram }}"
            target="_blank"
            rel="noopener me"
            aria-label="Instagram"
          >
            {{ load_data(path="static/img/icons/instagram.svg") | safe}}
          </a>
        </li>
        <li>
          <a
            href="{{ config.extra.github }}"
            target="_blank"
            rel="noopener me"
            aria-label="GitHub"
          >
            {{ load_data(path="static/img/icons/github.svg") | safe}}
          </a>
        </li>
        <li>
          <a
            href="{{ config.extra.artstation }}"
            target="_blank"
            rel="noopener me"
            aria-label="ArtStation"
          >
            {{ load_data(path="static/img/icons/artstation.svg") | safe}}
          </a>
        </li>
        <li>
          <a
            href="{{ config.extra.linkedin }}"
            target="_blank"
            rel="noopener me"
            aria-label="LinkedIn"
          >
            {{ load_data(path="static/img/icons/linkedin.svg") | safe}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
