.joystick {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 90%;
    border-radius: 100%;
    background-color: black;
    background: url(joystick-bg.png) no-repeat center center;
    background-size: contain;
    
    -webkit-filter: hue-rotate(208deg) saturate(0%) brightness(100%);
}

.joystick-relative {
    width: 200%;
    height: 200%;
}

.joystick-relative-stick {
    box-sizing: border-box;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    background: url(joystick-stick.png) no-repeat center center;
    background-size: contain;
/*
    border-radius: 140%;
    background-color: #000000;
    border: 3px solid #ff0000;
*/
    margin-left: -25%;
    margin-top: -25%;
}
