<!DOCTYPE html>
<html lang="{{ config.default_language }}">
  {% include "partials/head.html" %}
  <body id="playdate">
    <div class="fullwidth-flex index-header">
      <div class="content-container">
        <a href="/" class="navigation-button" aria-label="Back"> ← </a>
        <div class="spacer"></div>
      </div>
    </div>
    <div class="fullwidth-flex">
      <div class="content-container">
        <h1 class="page-title">{{ page.title }}</h1>
        <div class="blog-date-container">
          <span>{{ page.date | date(format="%B %d") }}</span>
          <div>•</div>
          <span>{{ page.reading_time }} minutes</span>
        </div>
        {% if page.taxonomies.tags is containing ("playdate") %}
        <article class="blog-content playdate-content">
          {{ page.content | safe }}
        </article>
        {% else %}
        <article class="blog-content">{{ page.content | safe }}</article>
        {% endif %}
      </div>
    </div>
    <div class="toc-container">
      <nav>
        <ul>
          {% for h2 in page.toc %}
          <li>
            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            {% if h2.children %}
            <ul>
              {% for h3 in h2.children %}
              <li style="margin-left: 16px">
                <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                <ul>
                  {% for h4 in h3.children %}
                  <li style="margin-left: 26px">
                    <a href="{{ h4.permalink | safe }}">{{ h4.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    {% include "partials/footer.html" %}
  </body>
</html>
